body{
  font-family: 'Imprima', sans-serif!important;
  font-size: auto!important;
}
#user-photo {
  border: 1px solid white;
}
textarea{
  border: white!important;
}
#btnFollow, #btnUnfollow{
  background: #ff8f00;
}
#waves-effect btn-small{
  display: inline-block!important;
}
/*.btn {
  background-color : #F1AAA8;
}

#card horizontal card-posts{
  background: #e3f2fd!important;
}

.card-posts, .card-notification{
  background-color : #e3f2fd!important;
}
.contenido-post{
  background-color : white;
}
