body{
    font-family: 'Imprima', sans-serif!important;
    font-size: auto!important;
}
#user-photo {
  border: 6px solid #F1AAA8;
}
/*#card horizontal card-posts{
}

.card-posts, .card-notification{
}
.contenido-post{
  background-color : white;
}
textarea{
  border: none;
}